@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url('../fonts/#{$file_name}.woff') format('woff'),
        url('../fonts/#{$file_name}.woff2') format('woff2');
        font-weight: $weight;
        font-style: $style;
    }
}
@mixin big_letter{
    opacity: 0.22;
    color: #e3a062;
    font-family: "PlayfairDisplay";
    font-size: 300px;
    font-weight: 700;
    line-height: .6;
    text-transform: uppercase;
    letter-spacing: 1.71px;
}
@mixin underletter_m{
    transform: rotate(-90deg);
    color: #e3a062;
    font-family: "PlayfairDisplay";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.39px;
    display: flex;
    align-items: center;
    max-width: 200px;
    
    & .underletter_line{
        content: '';
        height: 2px;
        width: 50px;
        background: #e3a062;
        display: inline-block;
        margin-left: 8px;
    }
}
@mixin h2_m{
    color: #000000;
    font-family: "PlayfairDisplay";
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.63px;
}
@mixin p_m{
    color: #000000;
    font-family: "ProximaNova";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}
@mixin button_m{
        display: inline-block;

        border: 1px solid #e3a062;
        padding: 14px 70px;
        cursor: pointer;

        color: #000000;
        font-family: "ProximaNova";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.32px;
        outline: none;
            & :hover,
            :active,
            :focus{
                opacity: .6;
            }
    
}



@import "fonts";
@import "reset";

html{
    color: #fff;
    font-family: "ProximaNova";
    font-weight: normal;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    
}

.body{
    height: 100%;
}
.main{
    flex: 1 1 auto;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 8px;
}
@import "header";
@import "about";
@import "footer";
@import "services";


